%h1 Listing meters

%table
  %thead
    %tr
      %th Name
      %th Start
      %th Finish
      %th Interval
      %th Unit
      %th
      %th
      %th

  %tbody
    - @meters.each do |meter|
      %tr
        %td= meter.name
        %td= meter.start
        %td= meter.finish
        %td= meter.interval
        %td= meter.unit
        %td= link_to 'Show', meter
        %td= link_to 'Destroy', meter, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Meter', new_meter_path
