%p#notice= notice

%p
  %b Name:
  = @meter.name
%p
  %b Start:
  = @meter.start
%p
  %b Finish:
  = @meter.finish
%p
  %b Interval:
  = @meter.interval
%p
  %b Unit:
  = @meter.unit

%h3 Measurements

- @meter.measurements.each do |m|
  %p
    = m.amount

= link_to 'Back', meters_path
