%p#notice= notice

%p
  %b Name:
  = @meter.name
%p
  %b Start:
  = @meter.start
%p
  %b Finish:
  = @meter.finish
%p
  %b Interval:
  = @meter.interval
%p
  %b Unit:
  = @meter.unit

%h3 Measurements

= form_for @meter do |f|
  - if @meter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meter.errors.count, "error")} prohibited this meter from being saved:"
      %ul
        - @meter.errors.full_messages.each do |message|
          %li= message

  = f.fields_for :measurements, @meter.measurements do |m|
    .field
      = m.label m.object.start
      = m.number_field :amount
      = @meter.unit

  .actions
    = f.submit 'Save'

= link_to 'Back', meters_path
