%p#notice= notice

.container.p-3.my-3.border
  %h1= @meter.name

.container.p-3.my-3.border
  %p
    %b Start date:
    = @meter.start
  %p
    %b Finish date:
    = @meter.finish
  %p
    %b Interval:
    = @meter.interval.inspect 
  %p
    %b Measurement Unit:
    = @meter.unit

  .container.p-3.my-3.border
    %h3 Measurements

    = form_for @meter do |f|
      - if @meter.errors.any?
        #error_explanation
          %h2= "#{pluralize(@meter.errors.count, "error")} prohibited this meter from being saved:"
          %ul
            - @meter.errors.full_messages.each do |message|
              %li= message

      = f.fields_for :measurements, @meter.measurements do |m|
        .field.input-group.col-md-7.mb-3
          .input-group-prepend
            %span.input-group-text= m.object.start
          = m.number_field :amount, class: 'form-control'
          .input-group-append
            %span.input-group-text= @meter.unit

      .actions
        = f.submit 'Save', class: 'btn btn-outline-success'

  = link_to 'Back', meters_path, class: 'btn btn-outline-secondary'
