%header.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container
    = link_to "Electrol", root_path, class: 'navbar-brand'
    - if user_signed_in?
      .navbar-brand= "#{current_user.role}".capitalize
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li.nav-item= link_to "Home", root_path, class: 'nav-link'
        - if user_signed_in?
          %li.nav-item= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link'
        - else
          %li.nav-item= link_to "Sign in", new_user_session_path, class: 'nav-link'
